{% extends 'base.html' %} {% block content %}
<head>
  <title>Pagamento Cancelado</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="ms-3 mt-3">
    <h3 class="mb-3">Esqueceu de adicionar algo ao carrinho?</h3>
    <h5>Você pode retornar para a nossa seleção de produtos e voltar a essa página quando quiser pagar.</h5>
  </div>
</body>
{% endblock content %}
